<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>

    <meta charset="utf-8">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <style media="screen">
      .jumbotron {
        width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: 30px;
      }
      .table {
        margin-top: 20px;
      }
      th {
        text-align: center;
      }
      .form-control {
        margin-bottom: 5px;
      }
      .selecionado {
        background: yellow;
      }
      .negrito {
        font-weight: bold;
      }
    </style>
    <!--<script src="../../Bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script>
      //importa o modulo do projeto
      angular.module("listaTelefonica", ["ngMessages"]);
      //importa o modulo controller
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $http) {
        $scope.app = "Lista Telefônica" //app recebe string
        $scope.contatos = [];
        $scope.operadoras = [];

        // CARREGA DATA DO JSON PARA contatos
        var carregarContatos = function() {
          $http.get("http://localhost:80/contatos.json").then( function (successCallback) {
            $scope.contatos = successCallback.data; //obj retorna um objeto que contem data
          }, function (errorCallback) {
            $scope.message = "Erro ao carregar contatos! " + errorCallback.data;
          });
        };

        // CARREGA DATA DO JSON PARA operadoras
        var carregarOperadoras = function () {
          $http.get("http://localhost:80/operadoras.json").then( function (successCallback) {
            $scope.operadoras = successCallback.data;
          }, function (errorCallback) {
            $scope.message = "Erro ao carregar operadoras! " + errorCallback.data;
          });
        };

        // ADICIONA contato AO VETOR contatos
        $scope.adicionarContato = function(contato) { //adicionarContato aciona function
          contato.data = new Date();
          // REALIZA O POST EM contatos, PASSANDO contato COMO OBJETO
          // $http.post("http://localhost:80/contatos.json", contato).then( function (successCallback) {
          $http({
            method: 'POST',
            url: 'http://localhost:80/contatos.json',
            data: contato,
            headers: {'Content-Type': 'application/json'}
          }).then( function (successCallback) {
            delete $scope.contato; //o contato será deletado
            $scope.contatoForm.$setPristine();
            carregarContatos(); // PODE SER RUIM EM PERFOMACE
          }, function (errorCallback) {
            $scope.message = "Erro ao postar " + errorCallback.data;
          });
        };

        // APAGA CONTATOS SELECIONADOS DO VETOR CONTATOS
        $scope.apagarContatos = function(contatos) {
          $scope.contatos = contatos.filter(function(contato){
            if(!contato.selecionado) return contato;
          });
        };

        // VERDADEIRO SE ALGUM CONTATO ESTIVER SELECIONADO
        $scope.isSelecionado = function (contatos) {
          return contatos.some(function(contato){
            return contato.selecionado;
          });
        };

        // ORDENA O VETOR DE CONTATOS
        $scope.ordernarPor = function(campo){
          $scope.criterioDeOrdenacao = campo;
          $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
        };

        // CHAMADA PARA CARREGAR BACKEND
        carregarContatos();
        carregarOperadoras();
      });


    </script>
  </head>

  <body ng-controller="listaTelefonicaCtrl"> <!-- início do ng-controller -->
    <div class="jumbotron">
      <h3 ng-bind="app"></h3> <!-- valor de app passa para h3 -->

      <div class="alert alert-danger">{{message}}</div> <!-- ERROR MESSAGE FROM BACKEND -->

      <!-- BUSCA ATRAVÉZ DO FILTER NO ng-repeat -->
      <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar" />

      <table class="table" ng-show="contatos.length > 0">
        <tr>
          <th></th>
          <th><a href="" ng-click="ordernarPor('nome')">Nome<a></th>
          <th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th>Cor</th>
          <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> <!-- for aprimorado em angular -->
          <td><input type="checkbox" ng-model="contato.selecionado"></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td><div style="width:20px;height:20px;border-radius:50%;" ng-style="{'background': contato.cor}"></div></td>
          <td>{{contato.data | date:'dd/MM/yyyy hh:mm'}}</td>
        </tr>
      </table>

      <form name="contatoForm">
        <!-- ng-model recebe Adicionaro valor da view e passa para controller -->
        <input class="form-control" type="text" name="nome" placeholder="Nome"
          ng-model="contato.nome"
          ng-required="true"
          ng-minlength="10"
        />
        <input class="form-control" type="text" name="telefone" placeholder="Telefone"
          ng-model="contato.telefone"
          ng-required="true"
          ng-pattern="/^\d{4,5}-\d{4}$/"
        />
        <!-- ng-options usa um for aprimorado para adicionar os valores aos campos do select -->
        <select class="form-control"
          ng-model="contato.operadora"
          ng-options="operadora.nome + '(' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy:'nome'">
          <option value="">Selecione uma operadora</option>
        </select>
      </form>

      <!-- ERROR MESSAGES -->
      <div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Preencha o nome!</div>
      <div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength">O nome deve ter no mínimo 10 caracteres</div>
      <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">Formato de telefone incorreto</div>
      <div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">Preencha o telefone!</div>

      <!-- ng-click aciona uma ação ao clicar -->
      <button  class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
      <button  class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isSelecionado(contatos)">Apagar Contato(s)</button>

    </div>
    <!-- IMPORTANDO PAGINA -->
    <div ng-include="'footer.html'"></div>
  </body>
</html>
